body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #FFFCF9;
  }
  html,body{margin:0;padding:0}

  .header {
    background: url(Background.jpg) no-repeat center center; 
    background-size: contain;
    height: 600px;
    padding-top: 50px;
    text-align: center;
  }
  
  .container{
    margin:0 auto;
    max-width: 940px;
    padding: 0 10px;
  }

  .header .container {
    position: relative;
    top: 200px;
  }
  .main .container {
    margin: 30px auto;
    text-align: right;
  }

  .main .img{
    float: left;
    margin: 20px 20px 50px;
  }
  .cox::before{
    content: "\a\a\a";
    white-space: pre;
  }
  .cox.container{
    margin: 30px auto;
    text-align: left;
    
  }
  .cox::after{
    content: "\a\a\a";
    white-space: pre;
}
  .coffee .image{

    float:left;
    margin: 20px 20px 50px;

}
  .coffee .container{
    margin: 30px auto;
    text-align: right;
  }

  .coffee::after{
    content: "\a\a\a";
    white-space: pre;
  }

  /* PROJECT PAGE */

 .parallax
  {
    background-image: url(cloud-background.jpg);

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 3%;
  }
  
  .container2{
    border-radius: 25px;
    margin: auto;
    max-width: 940px;
    padding: 10px 10px;
    background-color: #FFFCF9;
  }

  .header2
  {
    padding: 0px 10px;
  }